{% if result.results %}
    <p>{{ "search.results--heading"|transchoice(result.totalHits) }}:</p>
    {{ include(partTemplate) }}

    {{ pagerfanta(pager, 'search_twig', {proximity: 1, routeName: searchRouteName, ajaxRouteName: 'frontendsearch_query', parameters: {term: term, limit: limit, siterootId: siterootId}}) }}
{% else %}
    <h2>{{ "search.results--heading"|transchoice(result.totalHits) }}</h2>

    {% if suggestions %}
        <h3>{{ "search.suggestion--heading"|trans }}</h3>
        <ul>
            {% for suggestion in suggestions %}
                <li><a href="?term={{ suggestion.text }}">{{ suggestion.text }}</a> </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
