{% extends "::base/layout.html.twig" %}

{% block pageTitle %}
    pageTitle
{% endblock %}

{% block mainNavigation %}
    mainNavigation
{% endblock %}

{% block breadcrumb %}
    breadCrumb
{% endblock %}

{% block title %}
    title
{% endblock %}

{% block footerInner %}
    footerInner
{% endblock %}

{% block contentInner %}
    <link rel="stylesheet" href="http://twitter.github.io/typeahead.js/css/examples.css">

    <form method="post" action="{{ path("frontendsearch_query") }}">
        <div id="remote">
            <input id="input" class="typeahead" type="text" placeholder="Suche" value="{{ app.request.get("query") }}" />
        </div>
        <div>
            <input type="submit" id="submit" />
        </div>
    </form>

    <div>
        {% if app.request.get("query") %}
        Query: {{ app.request.get('query') }}
        {% endif %}

        <div id="suggest">
        </div>

        <div id="results">
            {% if app.request.get("query") %}
            {{ render(path("frontendsearch_query", {q: app.request.get('query')})) }}
            {% endif %}
        </div>
    </div>

    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

    <script>
        var bestPictures = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: '../data/films/post_1960.json',
            remote: '{{ path("frontendsearch_complete") }}?term=%QUERY'
        });

        bestPictures.initialize();

        $('#remote .typeahead').typeahead(null, {
            name: 'best-pictures',
            displayKey: 'value',
            source: bestPictures.ttAdapter()
        });

        $("#submit").click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                url: "{{ path("frontendsearch_query_json") }}",
                data: {
                    q: $("#input").val()
                },
                success: function(data) {
                    console.log(data.result);
                    if (data.result.results) {
                        $("#results").html(data.view);
                    } else {
                        
                    }
                }
            });
            e.preventDefault();
            return false;
        })
    </script>

{% endblock %}
